.item {
  position: relative;
  display: flex;
  /* padding-bottom: 12px; */
  height: 38px;
  /* border-bottom: 1px solid var(--secondary-color-light-blue200); */
}

.item::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: var(--secondary-color-light-blue200);
  width: 254px;
  height: 0.5px;
  /* border-radius: 1px; */
}
