.editBlockLabel{
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 15px;
  border-radius: 10px;
  max-width: 200px;
  background-color: var(--secondary-color-light-blue100);
  margin-top: 10px;
}

.svg {
  width: 26px;
  height: 26px;
}

.itemTextWater {
  font-size: 18px;
  line-height: 1.3;
  color: var(--primary-color-blue);
}

.itemTextTime {
  font-size: 12px;
  line-height: 2;
  color: var(--primary-color-black);
}

