.editBlockLabel {
  display: flex;
  align-items: center;
  padding: 8px 24px;
  border-radius: 10px;
  max-width: 280px;
  background-color: var(--secondary-color-light-blue100);
  margin-bottom: 24px;
}

.svg {
  width: 36px;
  height: 36px;
  margin-right: 12px;
}

.itemTextWater {
  font-size: 18px;
  line-height: 1.3;
  color: var(--primary-color-blue);
  margin-right: 16px;
}

.itemTextTime {
  font-size: 12px;
  line-height: 2;
  color: var(--primary-color-black);
}

@media (min-width: 768px) {
  .editBlockLabel {
    width: 254px;
  }
}
