.dropDownMenu {
  position: absolute;
  top: 60%;
  left: 20%;
  margin-top: 12px;
  transform: translateX(90%);

  background: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  width: 118px;
}

.dropDownItem {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px;
  cursor: pointer;
}

.dropDownText {
  color: var(--primary-color-blue);
  display: flex;
  align-items: center;
}
@media (min-width: 768px) {
  .dropDownMenu {
    top: 60%;
    left: 65%;
  }
}

@media (min-width: 1440px) {
  .dropDownMenu {
    top: 90%;
    left: 76%;
  }
}
