.dropDownMenu {
  position: absolute;
  left: 100%;
  margin-top: 12px;
  transform: translateX(-100%);
  background: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 4px 8px 0 rgba(64, 123, 255, 0.2);
  z-index: 1000;
  width: 118px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}

.dropDownButton {
  color: var(--primary-color-blue);
  width: 86px;
  display: flex;
  cursor: pointer;
  align-items: center;
  gap: 8px;
  padding: 0;
  background-color: transparent;
  border: none;
  transition: color var(--primary-transition);
}

.dropDownButton svg {
  transition: stroke var(--primary-transition);
}

.dropDownButton:hover {
  color: var(--secondary-color-orange);
}

.dropDownButton:hover svg {
  stroke: var(--secondary-color-orange);
}

@media (min-width: 768px) {
  .dropDownMenu {
    top: 60%;
    left: 100%;
  }
}

@media (min-width: 1440px) {
  .dropDownMenu {
    top: 90%;
    left: 100%;
  }
}
