.dailyNormaContainer {
  width: 164px;
  border: 1px solid var(--secondary-color-light-blue100);
  border-radius: 10px;
  padding: 8px 18px;
  box-shadow: 0 4px 8px 0 rgba(158, 187, 255, 0.12);
  margin-bottom: 232px;
}

.title {
  font-weight: 500px;
  font-size: 18px;
  line-height: 1.3;
  color: var(--primary-color-black);
  margin-bottom: 12px;
}

.dailyNormaValue {
  display: flex;
  gap: 12px;
  align-items: center;
}

.text {
  font-weight: 700;
  font-size: 22px;
  line-height: 1;
  color: var(--primary-color-blue);
}

.btn {
  color: #8baeff;
  background-color: transparent;
  border: transparent;
  transition: color var(--primary-transition);
}

.btn:hover,
.btn:focus {
  color: #ff9d43;
}

/* ========== TABLET ========*/

@media screen and (min-width: 768px) {
  .dailyNormaContainer {
    margin-bottom: 326px;
  }

  .dailyNormaValue {
    display: flex;
    gap: 12px;
    align-items: center;
  }

  .text {
    font-size: 24px;
  }
}

/* ========== DESKTOP ========*/

@media screen and (min-width: 1440px) {
  .dailyNormaContainer {
    margin-bottom: 466px;
  }
}
