.userInfo {
  display: flex;
  align-items: center;
  gap: 8px;
}
.signIn {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: var(--primary-color-blue);
  transition: color var(--primary-transition);
}
.signIn:hover {
  color: var(--secondary-color-orange);
}

@media (min-width: 768px) {
  .signIn {
    font-size: 18px;
    line-height: 1.33333;
  }
}
