.ReactModal__Body,
.ReactModal__Html {
  overflow: hidden;
}

.modalText {
  color: var(--primary-color-black);
}

.modalSpan {
  font-size: 18px;
  line-height: 1.3;
  font-weight: 500;
  color: var(--primary-color-blue);
}
