.button {
  border-radius: 10px;
  padding: 8px 30px;
  border: none;
  cursor: pointer;
  font-weight: 500;
  line-height: 1.25;
  transition: box-shadow var(--primary-transition);
}
.button:hover,
.button:focus {
  box-shadow: 0 4px 14px 0 rgba(64, 123, 255, 0.54);
}

.buttonBlue {
  color: var(--primary-color-white);
  background-color: var(--primary-color-blue);
}

.buttonDestructive {
  color: var(--primary-color-white);
  background-color: var(--secondary-color-red);
}

.buttonCancel {
  color: var(--primary-color-blue);
  background-color: var(--secondary-color-light-blue200);
}

@media screen and (min-width: 768px) {
  .button {
    padding: 10px 30px;
  }
}
