.logo {
  display: flex;
  gap: 4px;
  align-items: center;
}
.userInfo {
  display: flex;
  align-items: center;
}

.header {
  position: relative;

  align-items: center;
  width: 320px;
  padding: 8px 20px 24px;
  display: flex;
  justify-content: space-between;
}

.text {
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
  color: var(--primary-color-blue);
  width: 58px;
}

.signIn {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: var(--primary-color-blue);
}

.avatarPlaceholder {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: var(--secondary-color-red);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}

.userInfo {
  display: flex;
  align-items: center;
}

.userInfo > *:nth-child(2) {
  margin-left: 8px;
}

.button {
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative; /* Зробимо кнопку відносною для коректного позиціонування меню */
  display: inline-block;
}

.dropDownMenu {
  position: absolute;
  top: 60%;
  left: 20%;
  margin-top: 12px;
  transform: translateX(90%);

  background: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  width: 118px;
}

.dropDownItem {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px;
  cursor: pointer;
}

.dropDownText {
  color: var(--primary-color-blue);
}

@media (min-width: 768px) {
  .header {
    width: 768px;
    padding: 16px 32px 40px;
  }
  .dropDownMenu {
    top: 60%;
    left: 65%;
  }

  .text {
    font-size: 14px;
    width: 80px;
  }

  .signIn {
    line-height: 1.33333;
  }
}

@media (min-width: 1440px) {
  .header {
    width: 1440px;
    padding: 16px 112px 0;
  }
  .dropDownMenu {
    top: 90%;
    left: 76%;
  }

  .signIn {
    font-size: 20px;
  }
}
