.modal {
  position: absolute;
  top: 40px;
  border-radius: 10px;
  background-color: var(--primary-color-white);
  width: 280px;
  overflow-y: auto;
  padding: 24px 12px;
}

.modalHeader {
  display: flex;
  text-align: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 24px;
}

.title {
  font-weight: 500;
  font-size: 26px;
  line-height: 1.23;
  text-align: start;
}

.closeBtn {
  cursor: pointer;
  background: none;
  border: none;
  position: relative;
}

.subtitle {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.11;
  margin-bottom: 16px;
}

.formTextLabel {
  margin-bottom: 12px;
}

.buttonGroup {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  width: 100%;
}

.buttonRound {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #357afe;
  background-color: transparent;
  stroke: var(--primary-color-blue);
  font-size: 20px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: stroke var(--primary-transition),
    background-color var(--primary-transition);
}

.buttonRound:hover {
  background-color: var(--secondary-color-light-blue300);
  stroke: var(--primary-color-white);
}
.amountOfWaterLabel {
  padding: 10px 20px;
  background-color: var(--secondary-color-light-blue200);
  border-radius: 30px;
  font-size: 18px;
  font-weight: bold;
  color: var(--primary-color-blue);
  text-align: center;
}

.buttonCircleContainer {
  display: flex;
  align-items: center;
  gap: 7px;
}

.inputError {
  border-color: var(--secondary-color-red);
  color: var(--secondary-color-red);
}

.inputField {
  padding: 12px 10px;
  font-size: 16px;
  border: 1px solid var(--secondary-color-light-blue200);
  border-radius: 6px;
  color: var(--primary-color-blue);
  outline: transparent;
  width: 100%;
  transition: border var(--primary-transition);
}

.inputField:active,
.inputField:focus {
  border: 1px solid #c5d9fd;
}

.labelTime {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 16px;
}

.formItemBlock {
  margin-bottom: 24px;
}

.modalFooter {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 16px;
}
@media screen and (max-width: 767px) {
  .modalFooter {
    flex-direction: column;
  }
}

.smallButton {
  color: var(--primary-color-blue);
  font-weight: 700;
  font-size: 18px;
  line-height: 1.33;
}

.saveButton {
  background: var(--primary-color-blue);
  color: var(--primary-color-white);
  box-shadow: 0 4px 14px 0 rgba(64, 123, 255, 0.3);
  width: 100%;
  padding: 8px 30px;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  transition: box-shadow var(--primary-transition);
}

.saveButton:hover {
  box-shadow: 0 4px 14px 0 rgba(64, 123, 255, 0.54);
}

.saveButton:active {
  box-shadow: none;
}

.svg {
  width: 26px;
  height: 26px;
}

.errorMessage {
  color: var(--secondary-color-red);
  font-size: 14px;
  margin-top: 5px;
}

.dropdown {
  padding: 10px;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid #ccc;
  background-color: white;
  cursor: pointer;
}

.dropdown option {
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
}

.dropdown option:checked {
  background-color: #007bff;
  color: white;
}

@media (min-width: 768px) {
  .modal {
    width: 704px;
    padding: 32px 24px;
  }

  .modalFooter {
    justify-content: flex-end;
    gap: 24px;
  }

  .saveButton {
    width: 160px;
    padding: 10px 30px;
  }
}

@media (min-width: 1440px) {
  .modal {
    width: 592px;
    top: 50%;
    transform: translateY(-50%);
  }
  .buttonGroup {
    justify-content: start;
  }
}
