/* .imgWrap {
  background-image: image-set(
    url(../../assets/images/home/bottle_home_mobile_1x.png) 1x,
    url(../../assets/images/home/bottle_home_mobile_2x.png) 2x
  );
  position: absolute;
  top: 82px;
  width: 280px;
  height: 208px;
} */

/* ========== TABLET ========*/

/* @media screen and (min-width: 768px) {
  .imgWrap {
    background-image: image-set(
      url(../../assets/images/home/bottle_home_tablet_1x.png) 1x,
      url(../../assets/images/home/bottle_home_tablet_2x.png) 2x
    );
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 518px;
    height: 386px;
  }
} */

/* ========== DESKTOP ========*/

/* @media screen and (min-width: 1440px) {
  .imgWrap {
    background-image: image-set(
      url(../../assets/images/home/bottle_home_desktop_1x.png) 1x,
      url(../../assets/images/home/bottle_home_desktop_2x.png) 2x
    );
    top: -20px;
    left: 38px;
    transform: translateX(0);
    width: 738px;
    height: 548px;
  }
} */
